*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: helvetica, arial, roboto, sans-serif;
}
header{
    background: #000000;
}
main{
    background: whitesmoke;
    margin: 1em;
    padding: 2%;
}
footer{
    background: #4c4c4c;
 }
.top-nav-container, .search-container{
    list-style: none;
    padding: 0;
    width: 100%;

    display: flex;
}
.error-message{
    background: lightgrey;
}
.bottom-left, .bottom-right{
    list-style: none;

    display: flex;
    flex-direction: column;
}
