*{
    box-sizing: border-box;
}
body{
    font-size: 20px;
    margin: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  20% 1fr 15%;
    grid-template-rows:  8% 1fr 7% 8%;
    height: 100vh;

    grid-template-areas:
    "header header header"
    "nav article article"
    "nav ads ads"
    "footer footer footer";
}

header{
    grid-area: header;
    background: cadetblue;
    padding: 1em;
}
nav{
    grid-area: nav;
    background: cadetblue;
    padding: 1em;
}
article{
    grid-area: article;
    background: cadetblue;
    padding: 1em;
}
aside{
    grid-area: ads;
    background: cadetblue;
    padding: 1em;
}
footer{
    grid-area: footer;
    background: cadetblue;
    padding: 1em;
}