*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

/*--------------Make the nav bar match the example--------------*/
.nav-container{
    background: #000;
    padding: .9em 0;
    width: 100%;
    position: static;
    list-style: none;

    /*----Activate Flex----*/
    display: flex;

    /*----Use Flex (Get items in a row)----*/
    flex-direction: row;
    /*----Use Flex (Get items centered on the main axis)----*/
    align-items: center;
}
.nav-container a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.3em;
    padding: .7em .9em;
}
.nav-container a:hover{
    background: #4a4a4b;
}

/*--------------Make the containers follow a grid that matches the example--------------*/
main{
    display: grid;
    grid-template-columns: 16% 80%;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
            " aside article"
            " aside article"
            " aside foot";

}

article{
    margin: 40px 20px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 80px;
    grid-template-areas:
            "article ad-one"
            "article ad-two"
            "article ad-three"
            "pages .";

    grid-area: article;
}

nav{
    grid-area: pages;
}
div.ad-container-1{
    grid-area: ad-one;
}
div.ad-container-2{
    grid-area: ad-two;
}
div.ad-container-3{
    grid-area: ad-three;
}

aside{
    grid-area: aside;
}
footer {
    grid-area: foot;

}


/*--------------Make aside look like the example--------------*/
aside{
    width: 100%;
}
#fancy-header{
    font-size: 1.5em;
    padding: .7em 0;
    font-weight: normal;
}
.aside-container li.li-no-hover:hover {
    background-color: transparent;
}
.aside-container{
    background: lightgrey;
    padding: 0;
    /*----Make the aside span the window height----*/
    height: 116.1%;

    /*----Activate Flex for nav items----*/
    display: flex;
    /*----Use Flex (Get items in a row)----*/
    flex-direction: column;
}
.aside-container a{
    font-size: 1.2em;
    color: #000;
    list-style: none;
    text-decoration: none;
}
.aside-container li{
    padding: .7em 1.1em;
}
.aside-container li>a:hover{
    color: salmon;
}

/*--------------Make article text look like the example--------------*/
h2{
    color: salmon;
    font-size: 2.5em;
    font-weight: normal;
    margin: 10px 0;
}
article p{
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin-right: 20px;
}

/*--------------Make ADs look like the example--------------*/
.ad-top{
    border: 1px solid darkgrey;
    padding: 30px 0px;
    margin: 10px 0px;
    text-align: center;
}
.ad-bottom{
    border: 1px solid darkgrey;
    padding: 80px 0px;
    margin: 20px 0px;
    text-align: center;
}

/*--------------Make pagination look like the example--------------*/
.pages-container{
    list-style: none;

    /*----Activate Flex----*/
    display: flex;

    /*----Use Flex (Get items centered on the cross axis)----*/
    justify-content: center;
    margin-left: auto;
}
.pages-container a{
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    padding: 15px 20px;
}
.pages-container a:hover{
    background: #000;
    color: #fff;
}

/*--------------Make footer look like the example--------------*/

#footer-header{
    background: #59595b;
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    padding: 60px 310px;
}
#credit{
    background: #333333;
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    padding: 20px 310px;
}
#credit a{
    color: #fff;
}
#credit a:hover{
    color: salmon;
}