body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}


/*----------styling for message components ------------*/
#bg-info, #text-info, #bg-success, #text-success{
    margin: .5em;
    padding: .5em;
    border-radius: .3em;
    border: .05em solid #d3d3d3;
}

#bg-info{
background: #cddeff;
    color: #514ea5;
}
#text-info{
background: #cff3da;
    color: #2d743a;
}
#bg-success{
background: #fcfbc9;
    color: #9f8c2e;
}
#text-success{
background: #fad3d7;
    color: #7f152e;
}